* {
    margin: 0;
    padding: 0;
    font-family: Times, Times New Roman, serif;
}

body {
    font-family: Times, Times New Roman, serif;
    display: block;
    background-color: #575656;
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background-color: #ffffff;
}

.menu-nav {
    text-align: right;
    align-content: center;
    height: 90px;
    min-width: 100vh;
    background-color: #ffffff;
    align-items: center;
}

.menu-nav ul {
    list-style-type: none;
}

.menu-nav ul li {
    display: inline-block;
}

.menu-nav ul li a {
    padding: 10px;
}

.menu-nav ul li a button {
    text-align: center;
}

.menu-nav ul li a :hover {
    border-radius: 10px;
    background-color: #dfdede;
}

.button-menu i {
    margin-right: 8px;
    font-size: 18px;
}

.button-menu {
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    height: 30px;
    color: #005bab;
    font-size: 16px;
}

header img {
    max-width: 100%;
    height: auto;
}

.perfil {
    display: flex;
    align-items: center;
    text-align: left;
}

.perfil img {
    max-width: 70px;
    height: auto;
    margin-right: 10px;
    border-radius: 100px;
}

.perfil p {
    font-style: italic;
    margin: 0;
    font-size: 30px;
    color: #005bab;
}

.conteudo-principal {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6vw 3vw;
    min-height: 200px;
    max-height: 340px;
    background: #575656 url(../img/backgroud1.jpeg) center/cover;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 0 0 0 -2px;
    padding: 0;
    font-size: 40px;
    line-height: 1em;
    font-weight: 600;
    text-align: center;
    color: #fbfbfb;
}

.apresentacao img {
    max-height: 300px;
    width: auto;
    border-radius: 100px;
    z-index: 2;
    margin-bottom: 10px;
}

.subtilulo {
    padding-top: 20px;
    color: #fbfbfb;
}

.portifolio{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portifolio h1{
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.projetos {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 2vh;
}

.button-carrossel {
    width: 2vw;
    height: 10vh;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
}

.button-carrossel:hover {
    transform: scale(1.05);

}

.button-carrossel:active {
    transform: scale(1.10);
    color: #ffffff;
    background-color: #acacac;

}

.nav-posters {
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-posters ul {
    display: flex;
    list-style: none;
    transition: transform 0.5s ease-in-out;
    margin: 0;
    padding: 0;
}

.nav-posters li {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.posters {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 400px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    color: black;
    transition: transform 0.3s ease;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    
}

.conteudo-posters {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2%;

}


.conteudo-posters h3 {
    margin: 15px;
    font-size: 1.2em;
    color: #005bab;
    max-width: 100%;
}

.conteudo-posters p {
    margin: 15px;
    font-size: 1em;
    line-height: 1.4;
    color: #333333;
    max-width: 100%;
}

.img-poster {
    flex: 1;
    height: 100%;
    max-width: 50%;
    object-fit: cover;
}

.posters:hover {
    transform: scale(1.05);
}


footer {
    position: relative;
    bottom: 0;
    max-width: 100%;
    background-color: #fbfbfb;
    color: #005bab;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    color: #005bab;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    justify-content: end;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .menu-nav {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    z-index: 100;
}

.menu-nav ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu-nav ul li {
    margin: 10px 0;
}


@media (max-width: 1100px) {
    .menu-icon {
        display: block;
    }

    .menu-nav {
        display: none;
    }

    #menu-toggle:checked ~ .menu-nav {
        display: flex;
    }

    .menu-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .menu-nav ul li {
        margin: 10px 0;
    }

    .perfil {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .perfil img {
        max-width: 50px;
    }

    .perfil p {
        font-size: 24px;
    }

    footer {
        font-size: 14px;
        padding: 10px;
    }

}

@media (max-width: 728px) {
    .apresentacao {
        font-size: 28px;
    }

    .subtilulo {
        font-size: 0.9rem;
    }


    .posters {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80vw;
    }

    footer {
        font-size: 12px;
        padding: 8px;
        line-height: 1.5;
    }
}

@media (max-width: 480px) {
    .perfil img {
        max-width: 40px;
    }

    .perfil p {
        font-size: 20px;
    }

    .menu-icon {
        font-size: 1.8rem;
    }

    .apresentacao {
        font-size: 22px;
    }

    .subtilulo {
        font-size: 0.8rem;
    }


    footer {
        font-size: 10px;
        padding: 5px;
    }
}
